/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2017, 3:26:14 PM
    Author     : Finn Bon
*/

.root {

    -clr-prim: #EA282B;
    -clr-sec: #F8BB23;
    -clr-dark: #454545;
    -clr-light: #E5E5E5;
    -clr-lighter: #EEF0F2;

    -fx-background-color: white;

    -fx-focus-color: -clr-prim;
    -fx-faint-focus-color: transparent;
}

.tab-pane:top .tab-header-area .headers-region .tab:top {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Begin pane styling */

AnchorPane {
    -fx-background-color: -clr-lighter;
}

.second-background {
    -fx-background-color: -clr-lighter;
}

/* End pane styling 
Begin label styling */

Label {
    -fx-text-fill: -clr-dark;
    -fx-font-weight: bold;
}

.errorLabel {
    -fx-background-color: -clr-prim;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
    -fx-background-radius: 15px;
    -fx-border-color: derive(-clr-prim, -15%);
    -fx-padding: 5 10 5 10;
}

.error {
    -fx-text-fill: -clr-prim;
}

/* End label styling
Begin button styling */

Button {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-border-color: -clr-prim;
    -fx-border-radius: 0px;
    -fx-border-width: 3px;
    -fx-background-color: -clr-prim;
    -fx-background-radius: 0px;
}

Button:hover {
    -fx-background-color: derive(-clr-prim, 25%);
    -fx-border-color: derive(-clr-prim, 25%);
}

Button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: -clr-prim;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: -clr-prim;
    -fx-text-fill: green;
    -fx-background-insets: 0, 1, 2;
}

.menu-button:openvertically {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: -clr-prim;
    -fx-background-radius: 0px;
}

.menu-button:openvertically .arrow-button,
.menu-button:openvertically .label {
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.menu-button:openvertically:hover {
    -fx-background-color: derive(-clr-prim, 25%);
    -fx-border-color: derive(-clr-prim, 25%);
}

.secButton {
    -fx-background-color: derive(-clr-light, -15%);
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
    -fx-text-fill: white;
}

.secButton:hover {
    -fx-background-color: derive(-clr-light, -10%);
}

.secButton:pressed {
    -fx-background-color: derive(-clr-light, -30%);
}

.linkButton {
    -fx-font-size: 12px;
    -fx-font-weight: null;
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-border-width: 0px;
}

.linkButton:pressed {
    -fx-text-fill: purple;
}

.header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.saveButton {
    -fx-background-color: #e60000;
}

/* End button styling
Begin input styling */

.slider .thumb {
    -fx-background-color: -clr-prim;
}

.slider .track,
.slider .axis:bottom .axis-tick-mark {
    -fx-background-color: -clr-light;
}

.check-box:determinate .box {
    -fx-background-color: -clr-light;
}

.check-box:determinate .text {
    -fx-font-weight: bold;
}

TextField, PasswordField {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: derive(-clr-light, -25%);
    -fx-prompt-text-fill: derive(-clr-light, -25%);
    -fx-text-fill: -clr-dark;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: -clr-prim;
}

ComboBox {
    /*-fx-background-color: derive(-clr-light, -15%);*/
    -fx-background-color: transparent;
    -fx-border-color: -clr-prim;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-radius: 0px;
}

ComboBox .arrow-button .arrow {
    -fx-background-color: -clr-prim;
}

ComboBox .list-view {
    -fx-background-color: white;
}

ComboBox .list-view .list-cell {
    -fx-font-weight: bold;
    -fx-background-color: -clr-light;
}

ComboBox .list-view .list-cell:hover {
    -fx-background-color: derive(-clr-light, -15%);
}

.scroll-bar .track {
    -fx-background-color: -clr-light;
}

.scroll-bar .increment-button {
    -fx-background-color: -clr-light;
}

.scroll-bar .increment-arrow {
    -fx-background-color: derive(-clr-light, -15%);
}

.scroll-bar .decrement-button {
    -fx-background-color: -clr-light;
}

.scroll-bar .decrement-arrow {
    -fx-background-color: derive(-clr-light, -15%);
}

.scroll-bar .thumb {
    -fx-background-radius: 0px;
    -fx-background-color: derive(-clr-light, -15%);
}

ColorPicker {
    -fx-background-color: -clr-light;
    -fx-background-radius: 0px;
}

/* table styling */
.table-view {
    -fx-background-color: transparent;
}

.table-view .placeholder {
    -fx-background-color: transparent;
}

.table-view .column-header-background .nested-column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .nested-column-header .table-column {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-column {
    -fx-background-color: transparent;

}

.table-view {
    -fx-padding: 0px    ;
}

.table-view:row-selection .column-header-background,
.table-view:row-selection .column-header-background .show-hide-columns-button {
    -fx-background-color: -clr-light;
    -fx-border-width: 2px;
    -fx-border-color: -clr-light;
    -fx-padding: 5px;
}

.table-view:row-selection .column-header-background {
    -fx-padding: -1px;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column,
.table-view:row-selection .column-header-background .show-hide-columns-button {
    -fx-background-color: -clr-light;
    -fx-border-color: derive(-clr-light, -15%);
    -fx-border-width: 0px 1px 0px 1px;
}

/* tab(pane) styling */
.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.tab-pane:top .tab-header-area .headers-region .tab:top {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: -clr-lighter;
    -fx-border-color: -clr-lighter;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/* End input styling */